

nav ul li {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0px 30px;
    text-decoration:none;
    
}

.imagen1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    
}

h1 {
    font-size: 55px;
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    clear: both;;
    font-weight: 600;
}

.bordes {
    border: 1px solid #efefef;
    flex-direction: column;
}

.icono1 {
    font-size: 50px;
    
} 
.icono2 {
    font-size: 50px;
}
.futer1 {
    font-size: 60px;
    font-weight: bold;

}
.futer {
    font-size: 20px;
}

.icono1:hover {
    transform: scale(2) rotate(-40deg);
    -webkit-transform: scale(2) rotate(-40deg);
    -moz-transform: scale(2) rotate(-40deg);
    -ms-transform: scale(2) rotate(-40deg);
    -o-transform: scale(2) rotate(-40deg);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.icono2:hover {
    transform: scale(2) rotate(40deg);
    -webkit-transform: scale(2) rotate(40deg);
    -moz-transform: scale(2) rotate(40deg);
    -ms-transform: scale(2) rotate(40deg);
    -o-transform: scale(2) rotate(40deg);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.paragraph {
    font-size: 20px; 
    font-weight: bold;
    text-align: center;
}
   
.flotar {
    display: flex;
    justify-content: center;
}









